<div class="ui middle aligned center aligned grid">
  <div class="ui column">
    <h1 class="ui teal header" id="titulo">{{ title }}</h1>
    <!-- Aquí va el blog de recetas -->
    <router-outlet></router-outlet>
    <div class="ui message">
      <a routerLink="/acerca">Acerca de este sitio</a>
    </div>
  </div>
</div>
