<div *ngIf="articulo" class="card">
  <h2 class="header">{{ articulo.nombre | titlecase }}</h2>
  <div class="ui centered medium image">
    <img src="{{ articulo.imagen }}" />
  </div>

  <div class="ui divider"></div>

  <div class="content">
    <h2 class="ui header">
      <i [ngStyle]="{ color: 'gray' }" class="newspaper outline icon"></i>
      Introducción
    </h2>
    <div class="ui segment content">
      {{ articulo.introduccion }}
    </div>

    <h2 class="ui header">
      <i [ngStyle]="{ color: 'gray' }" class="edit outline icon"></i>
      Ingredientes
    </h2>
    <div class="ui segment bulleted list">
      <div *ngFor="let i of articulo.ingredientes" class="item">
        {{ i }}
      </div>
    </div>

    <h2 class="ui header">
      <i [ngStyle]="{ color: 'gray' }" class="utensils icon"></i>
      Preparación
    </h2>
    <div class="ui segment bulleted list">
      <div *ngFor="let i of articulo.preparacion" class="item">
        {{ i }}
      </div>
    </div>

    <h2 *ngIf="articulo.consejos" class="ui header">
      <i [ngStyle]="{ color: 'gray' }" class="utensil spoon icon"></i>
      Consejos
    </h2>
    <div *ngIf="articulo.consejos" class="ui segment bulleted list">
      <div *ngFor="let i of articulo.consejos" class="item">
        {{ i }}
      </div>
    </div>

    <h2 class="ui header">
      <i [ngStyle]="{ color: 'gray' }" class="globe icon"></i>
      Referencias
    </h2>
    <div class="content">{{ articulo.fuente }}</div>

    <div class="ui divider"></div>
  </div>
</div>

<div *ngIf="!articulo">Articulo no encontrado</div>

<div class="message">
  <div class="ui message"><a routerLink="/">Página Principal</a></div>
</div>
