<!-- <div class="ui centered middle aligned selection list">
  <div *ngFor="let i of recetas" class="item">
    <img class="ui avatar image" src="{{ i.imagen }}" alt="imagen" />
    <div class="content">
      <div class="header">{{ i.nombre }}</div>
    </div>
  </div>
</div> -->

<div class="ui centered link cards">
  <div *ngFor="let i of recetas" class="card">
    <a routerLink="/articulo/{{ i.id }}">
      <div class="ui image">
        <img src="{{ i.imagen }}" />
      </div>
      <div class="content">
        <div class="header">{{ i.nombre | titlecase }}</div>
        <div class="description">
          {{ i.introduccion }}
        </div>
      </div>
    </a>
  </div>
</div>
